$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1024px,
  xxl: 1440px
);


:root{
    //Primary
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);

    //Neutral
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);

    //Font 
    //Weights: 400, 500, 700
    --font-family: 'Spartan', sans-serif;
    --Font-size: 15px;
}

body{
    font-family: var(--font-family);
    font-size: var(--Font-size);
}

h1{
    text-align: center;
}

h6{
    text-align: center;
}


.f-primary{
    color: var(--Very-Dark-Magenta);
    font-weight: 700;
}

.f-secondary{
    color: var(--Soft-Pink);
    font-weight: 400;
}

.f-neutral{
    color: var(--Dark-Grayish-Magenta);
    font-weight: 500;
}

.card{
    border: none;
    border-radius: 8px!important;
}

.card-rate{
    background-color: var(--Light-Grayish-Magenta)!important;
    border: none!important;
}

.stars{
    display:block;
}

.card-qoute{
    background-color: var(--Very-Dark-Magenta)!important;
    color: var(--White);
}

.card-body{
    margin: 12px;
}

.img-profile {
    height: 40px;
}

.quotes{
    font-weight: lighter;
}


@media(min-width:1024px){
    h1{
        text-align: start!important;
    }

    h6{
        text-align: start!important;
    }
    
    
    .card-rate{
        width: 450px!important;
        flex-direction:row;
        display:flex;
    }


    .card-quote{
        height: 200px!important;
    }

    .w-max{
        max-width: 572px!important;
    }

    .started{
        display:flex;
        justify-content: flex-start;
    }

    .centered{
        display:flex;
        justify-content:center;
    }

    .ended{
        display:flex;
        justify-content: flex-end;
    }

    .quotes{
        margin-top: 50px;
    }

    .card-quote{
        height: 100%!important;
    }
}


@media (min-width: 1440px) {

    .container{
        margin: 20px!important;
        margin-left: 120px!important;
        
    }

    h1{
        text-align: start!important;
        font-size: 48px!important;
    }

    h6{
        text-align: start!important;
    }
    
    .pr-xxl-1{
        padding-right: 80px!important;
    }

    .quotes{
        max-width: 1100px!important;
    }

}


@import "../node_modules/bootstrap/scss/bootstrap";